.title {
  color: var(--color2);
  font-family: "Markazi Text", serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.subtitle {
  color: var(--color3);
  font-family: "Markazi Text", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.intro-text {
  color: var(--color3);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%; /* 28.125px */
}

.hero {
  display: flex;
  background-color: var(--color1);
}

.content,
.img-container {
  width: 50%;
}

.content {
  padding-right: 20px;
}

.main-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.specials-main-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  margin: 0;
}

.cards-display {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0;
  padding-bottom: 18px;
  width: 30%;
  background-color: var(--color3);
  border-radius: 16px;
  overflow: hidden;
}

.card:nth-of-type(1) {
  margin-right: 18px;
}

.card:nth-of-type(2) {
  margin-left: 18px;
  margin-right: 18px;
}

.card:nth-of-type(3) {
  margin-left: 18px;
}

.card-body {
  padding: 0 26px;
}

.dish-image {
  width: 100%;
  object-fit: cover;
  min-height: 200px;
  max-height: 240px;
}

.dish-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.dish-price {
  color: var(--color4);
  font-size: 18px;
  font-weight: 700;
}

.order-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.order-link span {
  margin-right: 8px;
}

.testimonials-section {
  background-color: var(--color1);
}

.testimonials-title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.branch-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.branch-section h1,
.branch-section h2,
.branch-section p {
  color: black;
}



.branch-img {
  position: relative;
  border-radius: 8px;
  height: 45%;
  width: 90%;
}

.branch-img:nth-of-type(1) {
  z-index: 100;
  float: right;
  margin-bottom: -40px;
  
}

.branch-img:nth-of-type(2) {
  z-index: 10; 
}

footer {
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}

footer section {
  max-width: 25%;
}

footer img {
  width: auto;
  height: 280px;
}

footer li a, footer li {
  color: var(--color3);
  font-size: 18px;
  word-break: break-all;
  margin: 0;
}

footer h5 {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 0;
  color: var(--color2);
  font-family: Karla;
}

footer svg, footer a img {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.social-media-links a {
  display: flex;
  align-items: center;
}



.social-media-links li {
  margin-top: 6px;
}

.social-media-links li:nth-of-type(1) {
  margin-top: 0;
}