.order-box {
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 35px;
}

.order-header {
    background-color: var(--color3);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 15px;

}

.order-header > * {
    margin: 10px 30px 10px 0;
}

.order-header p {
    margin: 0;
}