@media (width <= 768px) {
  .page-padding {
    padding: 30px 0;
    margin: 0 10px;
  }

  #logo-and-burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-right: 10px;
  }

  header .burger {
    display: inline-block;
    cursor: pointer;
  }

  header {
    display: block;
    /* justify-content: center; */
  }

  header ul,
  header li,
  header nav {
    /* list-style-type: none; */
    display: block;
  }

  header nav {
    margin: 15px 0;
    transition: 0.5s all;
  }

 
  header li {
    background-color: var(--color3);
    padding: 8px 16px;
    margin: 0;
  }

  header li:last-child {
    border-bottom-left-radius: 25px;
  }
  
  header li:first-child {
    border-top-right-radius: 25px;
  }

  .hidden {
    display: none;
  }

  .dropdown-container {
    left: 0;
    transform: translatex(0);
  }
}
