header {
    display: flex;
    align-items: center;
    padding: var(--pageSpacing) var(--pagePadding);
    border-bottom: 3px solid var(--color1);
}

header nav {
    margin-left: auto;
}

li > a {
    transition: 0.19s color ease-in-out;
    text-decoration: none;
    color: black;
}

li > a:hover {
    color: var(--color2);
}

.logo {
    width: 203px;
    height: 55px;
    margin-right: 50px;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: auto 15px;
}

header li, header nav {
    display: inline-block;
}

selected-nav-link {
    color: var(--color2);
    border: 2px solid blue;
}