.title {
    color: var(--color2);
    font-family: "Markazi Text", serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
  }

  .subtitle {
    color: var(--color3);
    font-family: "Markazi Text", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  
  .intro-text {
    color: var(--color3);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 28.125px */
  }
  
.branch-section {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  .branch-section h1,
  .branch-section h2,
  .branch-section p {
    color: black;
  }
  
  
  
  .branch-img {
    position: relative;
    border-radius: 8px;
    height: 45%;
    width: 90%;
  }
  
  .branch-img:nth-of-type(1) {
    z-index: 100;
    float: right;
    margin-bottom: -40px;
    
  }
  
  .branch-img:nth-of-type(2) {
    z-index: 10; 
  }
  
  

@media (width <= 768px) {
    .branch-section {
      display: block;
    }
  }