@media (width <= 980px) and (width >= 768px) {
  footer h5 {
    font-size: 18px;
  }

  footer .address-phone ul {
    flex-direction: column;
  }
}

@media (width <= 768px) {
  /* header */
  footer {
    display: block;
  }

  footer section {
    margin: 25px auto;
    max-width: 100%;
    text-align: center;
  }

  footer .address-phone ul {
    flex-direction: column;
  }

  .social-media-links a {
    width: 45px;
    height: 45px;
  }

  .address-phone li, .rights-reserved li {
    width: 100%;
  }
}
