.card {
  margin: 0;
  padding-bottom: 18px;
  width: 30%;
  background-color: var(--color3);
  border-radius: 16px;
  overflow: hidden;
}

.menu-page .card:nth-of-type(1), .menu-page .card:nth-of-type(2), .menu-page .card:nth-of-type(3) {
  margin: 15px;
}


.card-body {
  padding: 0 26px;
}

.dish-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.dish-price {
  color: var(--color4);
  font-size: 18px;
  font-weight: 700;
}
