:root {
  font-family: "Karla", sans-serif;
  /* font-family: "Markazi Text", serif; */
  line-height: 1.5;
  font-weight: 400;
  --color1: #495e57;
  --color2: #f4ce14;
  --color3: #edefee;
  --color4: #ee9972;
  --pagePadding: 290px;
  --pageSpacing: 35px;
}

body {
  margin: 0;
  padding: 0;
}

/* #root > header, #root > main, #root > footer {
  padding: 35px 290px;
} */
.page-padding {
  /* pageSpacing 35px*/
  /* pagePadding 290px */
  padding: var(--pageSpacing) var(--pagePadding);
}

@media screen and (width < 480px) {
  /* header */
  .page-padding {
    padding: 30px 0;
  }

  #logo-and-burger {
    display: flex;
    align-items: center;
  }

  header img {
    margin: 5px auto;
  }

  header {
    display: block;
    /* justify-content: center; */
  }

  header ul,
  header li,
  header nav {
    /* list-style-type: none; */
    display: block;
  }

  header nav {
    margin: 15px 0;
    transition: 0.5s all;
  }

  header li {
    background-color: var(--color3);
    padding: 0;
    margin: 0;
  }

  .hidden {
    display: none;
  }

  /* Hero */
  .hero {
    display: block;
    text-align: center;
  }

  .content,
  .img-container {
    width: 100%;
    /* padding-top: 30px; */
  }

  .img-container {
    margin-top: 20px;
  }

  /* specials */
  .specials-main-display {
    display: block;
  }

  .specials-title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .cards-display {
    display: block;
    margin-top: 15px;
  }

  .card {
    width: 100%;
    margin: 0 0 20px 0 !important;
  }

  /* Branch */

  .branch-section {
    display: block;
  }

  /* footer */

  footer {
    display: block;
  }

  footer section {
    margin: 25px auto;
    max-width: 100%;
    text-align: center;
  }

}

* {
  /* outline: 1px solid limegreen !important; */
}
