.form-field {
    margin: 20px 0;
}

.form-field label {
    margin-bottom: 6px;
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.form-field input {
    width: 320px;
    height: 40px;
    border-radius: 8px;
    border: 3px solid var(--color1);
    font-size: 20px;
    padding-left: 10px;
    transition: 0.3s all ease-in-out;
}

.form-field input:hover, .form-field input:focus {
    box-shadow: 5px 5px 0px 0px rgba(49, 104, 12, 0.2);
}


.form-field span {
    display: block;
    color: red;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 3px;
}

.red-border {
    border: 3px solid rgb(196, 10, 10) !important;
}