.register-box {
  border: 1px solid rgb(68, 105, 12);
  width: var(--form-element-width);
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: 12px;
}

.form-title, .submit-form-button, #new-account {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.submit-form-button {
  width: calc(var(--form-element-width) - 4%);
}

.form-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-field {
  margin: 20px auto;
  width: var(--form-element-width);
}

.form-field label {
  margin-bottom: 6px;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  width: 90%;

}

.form-field input {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  border: 3px solid var(--color1);
  font-size: 20px;
  padding-left: 10px;
  transition: 0.3s all ease-in-out;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-field input:hover,
.form-field input:focus {
  box-shadow: 5px 5px 0px 0px rgba(49, 104, 12, 0.2);
}

.form-field .error-message {
  display: block;
  color: red;
  font-size: 18px;
  margin-top: 3px;
  margin-left: 3px;
}

.red-border {
  border: 3px solid rgb(196, 10, 10) !important;
}


#new-account {
  font-size: 20px;
}

#new-account a {
  font-weight: bold;
}
